# Yarn stuff
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# Dependency directory
node_modules

# Eslint cache
.eslintcache

# Compiled files
**/lib/**/*
target
dist
doc
!packages/rust-bindings/tools/binaryen/lib/**/*

# Auto generate files from the gRPC proto file
grpc-api

# Webpack cache
.webpack-cache

# Generated documentation by typedoc
typedoc

# WASM files are generated with wasm-pack
pkg

# Manual testing files
testing.ts
testing.js

# Package lock
package-lock.json

#tsc build files
*.tsbuildinfo

# MacOS
.DS_Store

.vscode
