# Dependency directory
node_modules

# Eslint cache
.eslintcache

# Compiled files
lib
target
dist

# Auto generate files from the gRPC proto file
grpc

# WASM files are generated with wasm-pack
pkg

# Manual testing files
testing.ts
testing.js

# Package lock
package-lock.json

yarn-error.log

#tsc build files
*.tsbuildinfo