name: Deploy verification-web-ui

on:
  # Run automatically on tag push
  push:
    tags:
      - verification-web-ui/*
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: 'deploy-verification-web-ui'
  cancel-in-progress: false

env:
  NODE_VERSION: 18.16.0

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Cache dependencies
        id: yarn-cache
        uses: actions/cache@v5
        with:
          path: |
            ./node_modules
            ./docs/node_modules
            ./packages/*/node_modules
            ./examples/**/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}

      - name: Get dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn workspaces focus @concordium/verification-web-ui

      - name: Build release
        run: yarn workspace @concordium/verification-web-ui run build:lib

      - name: Store build-release
        uses: actions/upload-artifact@v6
        with:
          name: build-release
          path: |
            packages/verification-web-ui/dist
            packages/verification-web-ui/src
            packages/verification-web-ui/package.json
            packages/verification-web-ui/README.md

  upload-release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    environment: deploy
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Extract tag name
        id: get_tag
        run: echo "::set-output name=tag::${GITHUB_REF#refs/tags/verification-web-ui/}"

      - name: Test that tag version matches package.json version
        run: test "${{ steps.get_tag.outputs.tag }}" = "$(jq -r ".version" packages/verification-web-ui/package.json)" || exit 1

      - name: Get build-output
        uses: actions/download-artifact@v7
        with:
          path: packages/verification-web-ui
          name: build-release

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to NPM
        run: |
          yarn config set npmAuthToken $NPM_AUTH_TOKEN
          yarn workspace @concordium/verification-web-ui npm publish
        env:
          NPM_AUTH_TOKEN: '${{secrets.NPM_PUBLISH_TOKEN}}'

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: verification-web-ui/${{ steps.get_tag.outputs.tag }}
          name: verification-web-ui Release v${{ steps.get_tag.outputs.tag }}
          draft: true
